In [1]:
import os
import pandas as pd
#Importing DataFrame
df = pd.read_csv('2022-2023_NBA_Player_Stats_Regular.csv', delimiter = ';', encoding = 'ISO-8859-1', index_col=0)
df.head(10)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Rk,,,,,,,,,,,,,,,,,,,,,
1,Precious Achiuwa,C,23,TOR,55,12,20.7,3.6,7.3,0.485,...,0.702,1.8,4.1,6.0,0.9,0.6,0.5,1.1,1.9,9.2
2,Steven Adams,C,29,MEM,42,42,27.0,3.7,6.3,0.597,...,0.364,5.1,6.5,11.5,2.3,0.9,1.1,1.9,2.3,8.6
3,Bam Adebayo,C,25,MIA,75,75,34.6,8.0,14.9,0.540,...,0.806,2.5,6.7,9.2,3.2,1.2,0.8,2.5,2.8,20.4
4,Ochai Agbaji,SG,22,UTA,59,22,20.5,2.8,6.5,0.427,...,0.812,0.7,1.3,2.1,1.1,0.3,0.3,0.7,1.7,7.9
5,Santi Aldama,PF,22,MEM,77,20,21.8,3.2,6.8,0.470,...,0.750,1.1,3.7,4.8,1.3,0.6,0.6,0.8,1.9,9.0
6,Nickeil Alexander-Walker,SG,24,TOT,59,3,15.0,2.2,5.0,0.444,...,0.667,0.3,1.5,1.7,1.8,0.5,0.4,0.9,1.5,6.2
6,Nickeil Alexander-Walker,SG,24,UTA,36,3,14.7,2.3,4.7,0.488,...,0.692,0.2,1.4,1.6,2.1,0.7,0.4,1.3,1.6,6.3
6,Nickeil Alexander-Walker,SG,24,MIN,23,0,15.5,2.1,5.4,0.384,...,0.619,0.3,1.5,1.8,1.4,0.3,0.3,0.4,1.3,5.9
7,Grayson Allen,SG,27,MIL,72,70,27.4,3.4,7.7,0.440,...,0.905,0.8,2.4,3.3,2.3,0.9,0.2,1.0,1.6,10.4
8,Jarrett Allen,C,24,CLE,68,68,32.6,5.9,9.2,0.644,...,0.733,3.3,6.5,9.8,1.7,0.8,1.2,1.4,2.3,14.3

# Data Frame Information

## Column Names

In [2]:
df.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

#### Column Descriptions
 Player : Player's name  
Pos : Position  
Age : Player's age  
Tm : Team  
G : Games played  
GS : Games started  
MP : Minutes played per game  
FG : Field goals per game  
FGA : Field goal attempts per game  
FG% : Field goal percentage  
3P : 3-point field goals per game  
3PA : 3-point field goal attempts per game  
3P% : 3-point field goal percentage  
2P : 2-point field goals per game  
2PA : 2-point field goal attempts per game  
2P% : 2-point field goal percentage  
eFG% : Effective field goal percentage  
FT : Free throws per game  
FTA : Free throw attempts per game  
FT% : Free throw percentage  
ORB : Offensive rebounds per game  
DRB : Defensive rebounds per game  
TRB : Total rebounds per game  
AST : Assists per game  
STL : Steals per game  
BLK : Blocks per game  
TOV : Turnovers per game  
PF : Personal fouls per game  
PTS : Points per game

## Data Types

In [3]:
df.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

## Unique Values

#### Count of Unique Values

In [4]:
unique = df.nunique()
unique

Player    539
Pos         8
Age        22
Tm         31
G          83
GS         80
MP        308
FG        101
FGA       174
FG%       279
3P         40
3PA        92
3P%       214
2P         83
2PA       134
2P%       273
eFG%      275
FT         67
FTA        80
FT%       263
ORB        39
DRB        79
TRB       101
AST        83
STL        22
BLK        22
TOV        40
PF         40
PTS       223
dtype: int64

#### Percentage of Unique Values

In [5]:
percent = (unique / len(df))* 100
percent

Player    79.381443
Pos        1.178203
Age        3.240059
Tm         4.565538
G         12.223859
GS        11.782032
MP        45.360825
FG        14.874816
FGA       25.625920
FG%       41.089838
3P         5.891016
3PA       13.549337
3P%       31.516937
2P        12.223859
2PA       19.734904
2P%       40.206186
eFG%      40.500736
FT         9.867452
FTA       11.782032
FT%       38.733432
ORB        5.743741
DRB       11.634757
TRB       14.874816
AST       12.223859
STL        3.240059
BLK        3.240059
TOV        5.891016
PF         5.891016
PTS       32.842415
dtype: float64

## Summary Statistics

In [6]:
df.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,...,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000
mean,26.025037,43.338733,20.069219,19.463476,3.249190,6.920913,0.462190,0.996465,2.782916,0.318141,...,0.711576,0.842268,2.620177,3.461414,2.011635,0.601767,0.370398,1.067305,1.660677,8.858763
std,4.325709,24.727306,25.766359,9.416316,2.362645,4.795709,0.116682,0.862161,2.209427,0.139918,...,0.224774,0.731867,1.715999,2.281317,1.891472,0.392063,0.367514,0.799478,0.770492,6.631226
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,22.000000,0.000000,12.150000,1.500000,3.400000,0.415000,0.300000,1.000000,0.286000,...,0.667000,0.300000,1.400000,1.800000,0.800000,0.300000,0.100000,0.500000,1.200000,4.100000
50%,25.000000,45.000000,6.000000,18.800000,2.600000,5.700000,0.454000,0.800000,2.400000,0.346000,...,0.760000,0.700000,2.300000,3.000000,1.300000,0.500000,0.300000,0.900000,1.600000,6.900000
75%,29.000000,65.500000,36.500000,27.550000,4.200000,9.200000,0.505000,1.500000,4.150000,0.388000,...,0.841000,1.100000,3.400000,4.500000,2.700000,0.800000,0.500000,1.400000,2.200000,11.550000
max,42.000000,83.000000,83.000000,41.000000,11.200000,22.200000,1.000000,4.900000,11.400000,1.000000,...,1.000000,5.100000,9.600000,12.500000,10.700000,3.000000,3.000000,4.100000,5.000000,33.100000

Based on the summary statistics, here are some potential areas that may need further investigation for predicting All-NBA Team selections:
1. Performance Metrics: Analyze the distribution of performance metrics such as points per game (PTS), assists per game (AST), rebounds per game (TRB), etc., to understand the typical performance levels of players.

2. Efficiency Metrics: Look into efficiency metrics like field goal percentage (FG%), three-point percentage (3P%), free throw percentage (FT%), and effective field goal percentage (eFG%) to identify players who are efficient scorers.

3. Playing Time: Investigate the distribution of minutes played per game (MP) to understand the importance of playing time in player selection.

4. Role and Position: Explore the distribution of players across different positions (Pos) and their impact on team performance.

5. Team Performance: Consider the team's performance metrics such as wins, team rankings, etc., to assess the influence of team success on individual player selections.

6. Comparative Analysis: Compare the statistics of players selected for the All-NBA Teams with those who were not selected to identify any distinguishing factors or patterns.

## Checking for Missing Values

In [7]:
# Get the number of missing data pointer per columns
missing_values_count = df.isnull().sum()
print("\nNumber of Missing Values per Column:")
print (missing_values_count)

Number of Missing Values per Column:
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

Great dataset with no missing values !!

In [8]:
duplicates = df.duplicated()
num_duplicates = df.duplicated().sum()
print("\nNumber of Duplicates:", num_duplicates)
df[duplicates]

Number of Duplicates: 0

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 29 columns]

A dataframe without any duplicates, also great!!